<% title "Theme", true, true %>

<h1>Page#theme</h1>
<p>Find me in app/views/page/theme.html.erb</p>

<button class="md-button waves-effect">BUTTON</button>
<button class="md-button md-raised">BUTTON</button>
<button class="md-button md-raised md-primary">BUTTON</button>
<button class="md-button md-raised md-secondary">BUTTON</button>
